<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Visualization</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
        }
        #mapCanvas {
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <canvas id="mapCanvas" width="500" height="500"></canvas>

    <script>
        const LEVEL_COLOR_MAP = {
          '0': '#0f3865',
          '1': '#d1a663',
          '2': '#90aa43',
          '3': '#488445',
          '4': '#647192',
          '5': '#8c9db3',
          '-1': '#313131',
          '-2': '#ababab',
          '-3': '#969696',
          '-4': '#6b6b6b',
          '-5': '#717171',
          '-6': '#9a9a9a'
        };

        let lineNumber = 0;
        const canvas = document.getElementById('mapCanvas');
        const ctx = canvas.getContext('2d');
        const size = 1;

        function drawData(data) {
          for (let i = 0; i < data.length; i++) {
            const point = data[i];
            if (point !== null) {
              ctx.clearRect(i, lineNumber, size, size);
              ctx.fillStyle = LEVEL_COLOR_MAP[point.toString()];
              ctx.fillRect(i, lineNumber, size, size);
            }
          }
        }

        function fetchData() {
          fetch(`/json?longitude=${lineNumber}`)
            .then(response => response.json())
            .then(data => {
              drawData(data.coordinates);
              lineNumber++;
              if (lineNumber === 500) lineNumber = 0;
              fetchData();
            })
            .catch(error => {
              console.error('Error fetching data:', error);
            });
        }

        window.onload = fetchData;
    </script>
</body>
</html>
