<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Visualization</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
        }
        #mapCanvas {
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <canvas id="mapCanvas" width="500" height="500"></canvas>

    <script>
        const LEVEL_COLOR_MAP = {
          0: '#0f3865',
          1: '#d1a663',
          2: '#90aa43',
          3: '#488445',
          4: '#647192',
          5: '#8c9db3',
        };

        const COORDINATES = {{ json coordinates }};

        window.onload = () => {
          const canvas = document.getElementById('mapCanvas');
          const ctx = canvas.getContext('2d');
          const size = 1;
          for (let i = 0; i < COORDINATES.length; i++) {
            for (let j = 0; j < COORDINATES[i].length; j++) {
              ctx.fillStyle = LEVEL_COLOR_MAP[COORDINATES[i][j]];
              ctx.fillRect(i, j, size, size);
            }
          }
        };
    </script>
</body>
</html>
